.check_list {
  .check_list_header {
    display: flex;
    justify-content: flex-start;

    & > div {
      width: 200px;
      background: #d0d2d7;
      line-height: 40px;
      padding: 0 10px;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .check_list_body {
    display: flex;
    justify-content: flex-start;

    & > div {
      width: 200px;
      padding: 0 10px;
      line-height: 40px;
      font-size: 16px;
    }
    .check_list_body_level{
      font-family: "HoloLens MDL2 Assets";
      font-size: 24px;
      font-style:italic;
      width:100px;
      color: #f35686;
    }
    .check_list_body_diary_count{
      display: inline-block;
      margin-left: 10px;
      padding: 0 4px;
      height:16px;
      line-height: 16px;
      background-color: #ff7742;
      color: #ffffff;
      border-radius: 3px;

    }
  }

  .gray {
    background-color: #f3efef;
    color: #88a0a0 !important;

  }


}

.check_list_body_diary_title {
  margin-bottom: 10px;
}
