.edit_container{
  .edit_left{
    float: left;
    width: 600px;
  }
  .edit_right{
    //float: left;
    width: 100%;
    margin-left:610px;
    .ant-table-wrapper{
      clear: none !important;
    }
  }
  .landmask{
    position: absolute;
    width: 300px;
    top: 6px;
    right: -350px;
    .line{
      position:absolute ;
      width: 50px;
      height: 1px;
      background-color: #9ea6b6;
      left: -50px;
      top: 16px;
    }
  }
}
